# Entornos virtuales
.env
.venv
venv/
env/
env_Py3.10/
ENV/

# Proyectos/entornos/carpetas específicas
FloatTrans/
frames/
AIClipCreator_env/
ClipVO/
ClipsAI_env/
datasets/

# PyInstaller
build/
dist/
*.spec

# Archivos Python compilados
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.dll

# --- Jupyter Notebooks ---
.ipynb_checkpoints/

# --- Archivos de datasets ---
*.zip
*.tar
*.tar.gz
*.rar
*.7z
Dataset*/
Dataset/
*.yaml


# --- Pesos y modelos entrenados ---
*.pt
*.onnx
*.engine
*.tflite
*.pb
*.h5
runs/

# --- Archivos de Roboflow ---
*.cache
roboflow.json

# Archivos grandes o temporales
*.mp4
*.avi
*.mkv
*.mov
*.wav
*.mp3
*.log
*.exe
*.rar

# --- Archivos de VSCode / IDEs ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Archivos de sistema
.DS_Store
Thumbs.db
