# Core
numpy<2
opencv-python
Pillow
mss
ultralytics
keyboard

# Win32 APIs
pywin32

# Audio
# Torch CUDA (instalar manualmente con index-url)
# pip install torch==2.1.0+cu121 torchvision==0.16.0+cu121 torchaudio==2.1.0+cu121 --index-url https://download.pytorch.org/whl/cu121

# Módulos locales (no PyPI; mantenlos en tu repo)
# FloatTrans
# progress_bar_utils