# ============================================================
# Sistema de IAs de Voz Local
# ============================================================

#dependencias pip
pydub==0.25.1

# ------------------------------------------------------------
# PyTorch
# ------------------------------------------------------------
# CUDA 11.8:
# pip install torch==2.13.0+cu118 --index-url https://download.pytorch.org/whl/cu118
#
# Para CPU solamente:
# pip install torch==2.13.0

torch==2.13.0    #+cu118 para soporte cuda

# ------------------------------------------------------------
# Speech-to-Text (Whisper)
# ------------------------------------------------------------
openai-whisper==20250625

# ------------------------------------------------------------
# LLM Local
# ------------------------------------------------------------
# GPT4All para LLM local
gpt4all==2.8.2

# ------------------------------------------------------------
# Text-to-Speech (Silero)
# ------------------------------------------------------------
sounddevice==0.5.3
soundfile==0.13.1
omegaconf==2.3.0
librosa==0.11.0
PyYAML==6.0.3


# ------------------------------------------------------------
# API Web
# ------------------------------------------------------------
fastapi==0.121.3
uvicorn==0.38.0


# Detección de teclado para atajos (Ctrl+B para parar debate)
keyboard==0.13.5